.setNav {
    max-width: 70vw;
    margin: 0 auto;
}

.setTitleBlock {
    font-size: 32px;
    font-weight: bold;
    height: 10vh;
    width: 100vw;
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
    background: #FFD4A5;
}

.container {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 700px;
    background-color: #ffffff;
    justify-content: space-around;
    margin-top: 10%;
    /* align-items: center; */
}
.tContainer{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 80px;
    background-color: #ffffff;
    justify-content: space-around;
}

.aButton{
    color: white;
    border-radius: 5px;
    /*邊框變為圓弧*/
    border-color: #FF8A65;
    height: 50px;
    width: 150px;
    background: #e88e44;
}
.aTypeButton{
    color: white;
    border-radius: 5px;
    /*邊框變為圓弧*/
    border-color: transparent;
    height: 40px;
    width: 120px;
    background: #e88e44;
}

.setContentBlock {
    font-size: 20px;
    width: 70vw;
    margin: 0 auto;
    margin-top: 5vh;
}

tr:hover {
    background-color: #FFF3E0;
}

.setEditButton {
    background-color: transparent;
    border: 0;
}

