body {
    overflow-x: hidden;
}

.setNav {
    max-width: 70vw;
    margin: 0 auto;
}

.setTitleBlock {
    font-size: 32px;
    font-weight: bold;
    height: 10vh;
    width: 100vw;
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
    background: #FFD4A5;
}

.setContentBlock {
    font-size: 20px;
    width: 70vw;
    margin: 0 auto;
    margin-top: 5vh;
}

.infoContainer:hover{
    background-color: #FFF3E0;
}

.submitButton {
    color: white;
    border-radius: 5px;
    /*邊框變為圓弧*/
    border-color: #FF8A65;
    height: 38px;
    width: 100px;
    margin-top: 3vh;
    background: #e88e44;
}

.setAppliedWord {
    width: 70vw;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
}